.table {
  border-radius: 5px 5px 0 0;
  box-shadow: 3px 3px 10px 3px rgba(179, 207, 203, 0.637);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #fff;
}

.headerItem {
  padding: 15px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  color: #fff;
  background-color: rgb(53, 199, 243);
}
.listItem {
  text-align: center;
}
.listItem:nth-child(2n) {
  background-color: rgba(200, 218, 215, 0.5);
}
.item {
  padding: 20px 0;
  text-transform: capitalize;
  color: rgb(105, 99, 99);
}
.item:not(:first-child) {
  border-left: 1px solid rgba(200, 218, 215, 0.5);
}
